body {
  background-color: #cef0fb;
  background-size: auto;

}


/* hamburger menu to display stats */
.hamburger {
  height: 50px;
  width: 50px;
  margin-left: auto;
}
  
.menu_icon {
  width: 50px;
  height: 50px;
  margin: auto;
  z-index: 10;
  position: relative;
}

.menu_icon span {
  position: absolute;
  display: block;
  height: 4px;
  width: 25px;
  background-color: #40204A;
  transform: rotate(0);
  transition: all 200ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

span.one {
  top: 0px;
}

span.two {
  top: 10px;
}

span.three {
  top: 20px;
}

.clicked .one {
  transform: translateY(10px) rotate(45deg);
}

.clicked .two {
  opacity: 0;
}

.clicked .three {
  transform: translateY(-10px) rotate(-45deg);
}

.stats {
  display: none;
}

.stats.open {
  display: block;
  border: 2px solid darkblue;
  background-color:white;
  margin-left: 4rem;
  padding-left: 1rem;
}
--------------------------------------------------------------------------------




.flex {
  display: flex;
  flex-direction: column;
}
figure {
  display: flex;
  align-items: center;
  margin-top: -2rem;
  margin-left: 0;
}
figure img{
  width: 25vw;
}

h1 {
  font-size: 1.5rem;
}
fieldset {
  display: flex;
  gap: 1rem;
  border: none;
  align-items: center;
}
form img {
    width: 100px;
    border: 2px solid darkblue;
    border-radius: 10px;
}

button {
  width: 150px;
  background-color: darkblue;
  color: white;
  font-size: 1.5rem;
  border: 2px solid white;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
}

.no-display {
  display: none;
}

audio {
  width: 200px;
  height: 100px;
  display: block;
  border: solid 1px #000
}

#breathe {
  border-radius: 2rem;
  background-color: white;
  color: darkblue;
  font-weight: bold;
  width: 45%;
  height: 15%;
  margin-top: 50%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  animation: mymove 10s infinite;
}

#affirm{
  background-color: darkblue;
  color: white;
  text-align: center;
}

@keyframes mymove {
  50% {font-size: 40px;}
}

#done {
  position: fixed;
  bottom: 10px;

}

.inactive {display:none;}