body {
  background-color: #cef0fb;
  background-size: auto;
  font-family: 'Quicksand', sans-serif;
}

.flex {
  display: flex;
  flex-direction: column;
}
figure {
  display: flex;
  align-items: center;
  margin: 0;
}
figure img{
  width: 25vw;
}

h1 {
  font-size: 1.5rem;
}

h3 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}
fieldset {
  display: flex;
  gap: 1rem;
  border: none;
  margin-bottom: -15px;
}

fieldset div p {
  margin-bottom: .2rem;
}
form img {
    max-width: 100px;
    border: 2px solid darkblue;
    border-radius: 10px;
}

button {
  display: block;
  position: fixed;
  width: 50%;
  background-color: darkblue;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.3rem;
  border: 2px solid white;
  border-radius: 7px;
  right: 25%;
  margin: 15px;
  bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-rows: 20vh 20vh 20vh 20vh;
}
audio {
  width: 50%;
  display: block;
  position: fixed;
  right: 25%;
  bottom: 15%;

}

.affirm{
  background-color: darkblue;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 1.1rem;
  position: absolute;
  justify-self: center;
  text-align: center;
  width: fit-content;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.breathe {
  grid-row: 3;
  display: inline-table;
  border: 2px solid darkblue;
  border-radius: 50%;
  background-color: white;
  color: darkblue;
  font-weight: bold;
  padding: .5rem;
  width: 30px;
  height: 30px;
  bottom: 30%;
  margin-left: 40%;
  animation: mymove 10s infinite;
}

footer {
  position: fixed;
  bottom: 0;
}


@keyframes mymove {
  50% {transform: scale(1.8);
  }
}


.inactive {display:none;}

ul li {
  font-size: 1rem;
  list-style-type: circle;
  color: darkblue;
  font-style: italic;
  text-align: left;
}

.finish {
  font-size: 1.5rem;
  position : absolute;
  top: 10px;
  text-align: center;

}
.finish figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

